@media (max-width: 420px) {
    body {
        background: white;
      }
      * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        text-decoration: none;
      }
      .max-width {
    max-width: 1240px;
    padding:0;
    margin: 0;
      }
      section {
        padding: 20px 0;
      }
      .navbar {
        position: fixed;
        width: 100%;
        z-index: 999;
        padding: 10px 0;
        transition: all 0.5s ease;
        font-family: 'Rubik', sans-serif;
        display: flex;
        justify-content: space-between;
      }
      .navbar.sticky {
        padding: 30px 0;
        background:black;
      }
      .navbar .logo a {
        position: relative;
        left:80px ;
        font-size: 30px;
        font-weight: 600;
        color: black;
        transition: color 0.5s ease;
        font-family: 'Rubik', sans-serif;
      }
      
      .navbar .max-width {
        display: flex;
        align-items: center;
        justify-content: space-between;
      }
      
      .navbar .menu li {
        position: relative;
        right: 5px;
        list-style: none;
        display: inline-block;
      }
      .navbar .menu .date li a {
        color: black;
        font-size: 15px;
        font-weight: 600;
        margin-right: 25px;
        padding-left: 20px;
        transition: color 0.3s ease;
        font-family: 'Rubik', sans-serif;
      }
      .navbar .menu .date li a i{
        color: black;
      position: relative;
      right:38px;
      font-size: 18px;
      }
      .navbar .menu .oth li a {
        display: flex;
        flex-direction: column;
        position: relative;
        left:297px;
        bottom: 20px;
        font-weight: 700;
        transition: color 0.3s ease;
        font-family: 'Rubik', sans-serif;
      }
      .navbar .menu .oth li a i{
        color: black;
        display: flex;
        font-size: 15px;
        margin: 1px;
        font-weight: 800;
        justify-content: space-between;
      }
    
      .navbar .menu li a:hover,
      .navbar .logo a:hover {
        color:#029dd1;
      }
      .menu-btn {
        color: #fff;
        font-size: 23px;
        cursor: pointer;
        display: none;
      }
      .click{
        width: 38px;
        height: 38px;
        position: relative;
        top: 76px;
        left: 30px; 
        transition: all 0.5s ease;
      }
      .big h4{
    width: 246px;;
    height: 30px;
    top: 110px;
    left: 30px;
    font-weight: 600;
    font-size: 22px;
    position: relative;
    line-height: 30.33px;
    font-family: 'Open Sans', sans-serif;
      }
      .big p{
        font-weight:500;
        width: 350px;
        height: 36px;
        top: 115px;
        left: 30px;
        font-size: 15px;
        position: relative;
        line-height: 18.2px;
        font-family: 'Open Sans', sans-serif;
        color: rgba(85, 85, 85, 0.5);
      }
      form{
        width:100%;
        max-width: 400px;
        position: relative;
        top: 130px;
        left: 20px;
      }
      .input-group{
        margin-bottom: 13px;
        position: relative;
      }
      input{
        width: 90%;
        padding: 15px;
        outline: 0;
        color:rgba(134, 134, 134, 0.49);
        border: 0.5px solid rgba(134, 134, 134, 0.49);
        border-radius:5px;
        background: transparent;
        font-family: 'Open Sans', sans-serif;
        font-size: 15px;
      }
      label{
        height: 100%;
        position: absolute;
        left: 19px;
        top: 5px;
        padding: 10px;
        color:rgba(134, 134, 134, 0.49);
        cursor: text;
        font-size: 14px;
        font-family: 'Open Sans', sans-serif;
        font-weight: 300;
        transition: 0.2s;
        line-height: 16.98px;
      }
      input:focus~label,
      input:valid~label{
        top: -35px;
        font-size: 14px;
        font-weight: 600;
      }
      .row{
        display: flex;
        align-items: center;
        width: 105%;
      }
      .row span img{
        position: relative;
        left: 57px;
      }
      .row .input-group{
        flex-basis: 45%;
      }
      form .grow img{
        width: 20px;
        height: 20px;
        position: relative;
        margin-left:280px;
        bottom: 35px;
      }
      .middle a{
        display:block;
        text-align: center;
        background: rgba(204, 68, 56, 1);
        color:#fff;
        position: relative;
        top:270px;
        left: 40.5px;
        width: 303px;
        z-index:100;
        font-size: 16px;
        padding: 12px 20px;
        border-radius: 8px;
        margin-top: 15px;
        height: 47px;
        border: 1px solid rgba(204, 68, 56, 1);
        transition: all 0.3s ease;
        font-family: 'Open Sans', sans-serif;
      }
      .middle a:hover{
        background:transparent;
        color: rgba(204, 68, 56, 1) ;
      }
    }