@media (max-width: 420px) {
    body {
        background: white;
      }
      * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        text-decoration: none;
      }
      .max-width {
    max-width: 1240px;
    padding:0;
    margin: 0;
      }
      section {
        padding: 20px 0;
      }
      .navbar {
        position: fixed;
        width: 100%;
        z-index: 999;
        padding: 10px 0;
        transition: all 0.5s ease;
        font-family: 'Rubik', sans-serif;
        display: flex;
        justify-content: space-between;
      }
      .navbar.sticky {
        padding: 30px 0;
        background:black;
      }
      .navbar .logo a {
        position: relative;
        left:80px ;
        font-size: 30px;
        font-weight: 600;
        color: black;
        transition: color 0.5s ease;
        font-family: 'Rubik', sans-serif;
      }
      
      .navbar .max-width {
        display: flex;
        align-items: center;
        justify-content: space-between;
      }
      
      .navbar .menu li {
        position: relative;
        right: 5px;
        list-style: none;
        display: inline-block;
      }
      .navbar .menu .date li a {
        color: black;
        font-size: 15px;
        font-weight: 600;
        margin-right: 25px;
        padding-left: 20px;
        transition: color 0.3s ease;
        font-family: 'Rubik', sans-serif;
      }
      .navbar .menu .date li a i{
        color: black;
      position: relative;
      right:38px;
      font-size: 18px;
      }
      .navbar .menu .oth li a {
        display: flex;
        flex-direction: column;
        position: relative;
        left:297px;
        bottom: 20px;
        font-weight: 700;
        transition: color 0.3s ease;
        font-family: 'Rubik', sans-serif;
      }
      .navbar .menu .oth li a i{
        color: black;
        display: flex;
        font-size: 15px;
        margin: 1px;
        font-weight: 800;
        justify-content: space-between;
      }
    
      .navbar .menu li a:hover,
      .navbar .logo a:hover {
        color:#029dd1;
      }
      .menu-btn {
        color: #fff;
        font-size: 23px;
        cursor: pointer;
        display: none;
      }
      .click{
        width: 38px;
        height: 38px;
        position: relative;
        top: 94px;
        left: 30px; 
        transition: all 0.5s ease;
      }
      .big h4{
    width: 207px;;
    height: 30px;
    top: 133px;
    left: 30px;
    font-weight: 600;
    font-size: 23.2px;
    position: relative;
    line-height: 30.33px;
    font-family: 'Open Sans', sans-serif;
      }
      .big p{
        font-weight:500;
        width: 272px;
        height: 36px;
        top: 150px;
        left: 30px;
        font-size: 15px;
        position: relative;
        line-height: 18.2px;
        font-family: 'Open Sans', sans-serif;
        color: rgba(85, 85, 85, 0.5);
      }
      .new{
        width: 320px;
        height: 47px;
        position: relative;
        top: 205px;
        left: 26px;
        border-radius: 5px;
        border: 1px solid rgba(85, 85, 85, 0.5);
      }
      .new a p{
        position: relative;
        left:19px;
        top: 15px;
        height: 17px;
        font-size: 14px;
        color:rgba(85, 85, 85, 0.5);
        font-family: 'Open Sans', sans-serif;
      }
      .new a img{
        position: relative;
        left: 280px;
        width: 10px;
        height: 5px;
      }
      
      .middle a{
        display:block;
        text-align: center;
        background: rgba(204, 68, 56, 1);
        color:#fff;
        position: relative;
        top:425px;
        left: 30.5px;
        width: 303px;
        z-index:100;
        font-size: 14px;
        padding: 12px 20px;
        border-radius: 8px;
        margin-top: 15px;
        height: 45px;
        border: 1px solid rgba(204, 68, 56, 1);
        transition: all 0.3s ease;
        font-family: 'Open Sans', sans-serif;
      }
      .middle a:hover{
        background:transparent;
        color: rgba(204, 68, 56, 1) ;
      }
      
    }
   