@media (max-width: 414px) {
    body {
        background: white;
      }
      * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        text-decoration: none;
      }
      .max-width {
    max-width: 1240px;
    padding:0;
    margin: 0;
      }
      section {
        padding: 20px 0;
      }
      .navbar {
        position: fixed;
        width: 100%;
        z-index: 999;
        padding: 10px 0;
        transition: all 0.5s ease;
        font-family: 'Rubik', sans-serif;
        display: flex;
        justify-content: space-between;
      }
      .navbar.sticky {
        padding: 30px 0;
        background:black;
      }
      .navbar .logo a {
        position: relative;
        left:80px ;
        font-size: 30px;
        font-weight: 600;
        color: black;
        transition: color 0.5s ease;
        font-family: 'Rubik', sans-serif;
      }
      
      .navbar .max-width {
        display: flex;
        align-items: center;
        justify-content: space-between;
      }
      
      .navbar .menu li {
        position: relative;
        right: 5px;
        list-style: none;
        display: inline-block;
      }
      .navbar .menu .date li a {
        color: black;
        font-size: 15px;
        font-weight: 600;
        margin-right: 25px;
        padding-left: 20px;
        transition: color 0.3s ease;
        font-family: 'Rubik', sans-serif;
      }
      .navbar .menu .date li a i{
        color: black;
      position: relative;
      right:38px;
      font-size: 18px;
      }
      .navbar .menu .oth li a {
        display: flex;
        flex-direction: column;
        position: relative;
        left:297px;
        bottom: 20px;
        font-weight: 700;
        transition: color 0.3s ease;
        font-family: 'Rubik', sans-serif;
      }
      .navbar .menu .oth li a i{
        color: black;
        display: flex;
        font-size: 15px;
        margin: 1px;
        font-weight: 800;
        justify-content: space-between;
      }
    
      .navbar .menu li a:hover,
      .navbar .logo a:hover {
        color:#029dd1;
      }
      .menu-btn {
        color: #fff;
        font-size: 23px;
        cursor: pointer;
        display: none;
      }
      .lime{
        width: 100%;
        position: fixed;
        color: rgba(255, 255, 255, 1);
        font-family: 'Open Sans', sans-serif;
      }
      .lime .p{
        position: relative;
        bottom: 230px;
      }
      .lime .p h3{
        font-size: 17px;
        text-align: center;
        height: 20px;
        width: 150px;
        top: 15px;
        position: relative;
        left: 15px;
        line-height: 20px;
        color: rgba(255, 255, 255, 0.65);
      }
      .lime .p p{
        font-size: 13px;
        height: 17px;
        position: relative;
        left: 20px;
        top: 30px;
        color: rgba(255, 255, 255, 0.7);
      }
      .lime .p p  img{
        width:16px;
        height: 16px;
      }
      .lime .p p1{
        font-size: 20px;
        height: 17px;
        position: relative;
        left: 20px;
        top: 40px;
        color: rgba(255, 255, 255, 1);
      }
      .lime .p p2{
        font-size: 13px;
        height: 17px;
        position: relative;
        right:99px;
        top: 60px;
        color: rgba(255, 255, 255, 0.7);
      }
      .lime .p .icon{
        position: relative;
        left: 300px;
        bottom: 58px;
        font-size: 35px;
        cursor: pointer;
      }
      .lime .p .icon img{
        position: relative;
        right: 35px;
        top: 50px;
        width: 20px;
      }
      .box{
        width: 254px;
        height: 83px;
        position: relative;
        top: 245px;
        left: 58px;
        border: 2px solid transparent;
        border-radius: 7px;
        background:rgba(255, 255, 255, 1);
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.4);
      }
      .box ul{
        list-style: none;
        display: flex;
        position: relative;
        top: 20px;
        left: 20px;
      }
      .box ul li{
        width: 100%;
      }
      .trans{
        position:relative;
        top: 270px;
        left: 15px;
      }
      .trans p{
        font-size: 14px;
        line-height: 16.8px;
        font-weight: 400px;
        font-family: 'Open Sans', sans-serif;
        color: rgba(68, 68, 68,1);
      }
      .trans p span{
        left: 110px;
        position: relative;
        font-size: 14px;
        line-height: 16.8px;
        color: rgba(204, 68, 56, 1);
        font-family: 'Open Sans', sans-serif;
      }
      .eight{
        position:relative;
        top: 290px;
        height: 60px;
      }
.drake{
  padding-bottom: 8px;
  border-bottom: 1px solid grey;
}
.drake h3{
  position: relative;
  left: 15px;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
}
.drake h3 span{
  position: relative;
  left: 150px;
  font-size: 14px;
  font-family: 'Open Sans', sans-serif;
}
.drake p{
  position: relative;
  left: 15px;
  font-size: 12px;
  color: rgba(0, 0, 0, 0.5);
  font-family: 'Open Sans', sans-serif;
}
.drake p p1{
  position: relative;
  left: 135px;
  font-size: 12px;
  color: rgba(103, 193, 95, 1);
  font-family: 'Open Sans', sans-serif;
}
.drake p p2{
  position: relative;
  left: 135px;
  font-size: 12px;
  color:rgba(228, 177, 45, 1);
  font-family: 'Open Sans', sans-serif;
}

.drake h3 span1{
  position: relative;
  left: 170px;
  font-size: 14px;
  font-family: 'Open Sans', sans-serif;
}
.drake h3 span2{
  position: relative;
  left: 189px;
  font-size: 14px;
  font-family: 'Open Sans', sans-serif;
}
.drake h3 span3{
  position: relative;
  left: 210px;
  font-size: 14px;
  font-family: 'Open Sans', sans-serif;
}
}