@media (max-width: 420px) {
    body {
        background: white;
      }
      * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        text-decoration: none;
      }
      .max-width {
    max-width: 1240px;
    padding:0;
    margin: 0;
      }
      section {
        padding: 20px 0;
      }
      .navbar {
        position: fixed;
        width: 100%;
        z-index: 999;
        padding: 10px 0;
        transition: all 0.5s ease;
        font-family: 'Rubik', sans-serif;
        display: flex;
        justify-content: space-between;
      }
      .navbar.sticky {
        padding: 30px 0;
        background:black;
      }
      .navbar .logo a {
        position: relative;
        left:80px ;
        font-size: 30px;
        font-weight: 600;
        color: black;
        transition: color 0.5s ease;
        font-family: 'Rubik', sans-serif;
      }
      
      .navbar .max-width {
        display: flex;
        align-items: center;
        justify-content: space-between;
      }
      
      .navbar .menu li {
        position: relative;
        right: 5px;
        list-style: none;
        display: inline-block;
      }
      .navbar .menu .date li a {
        color: black;
        font-size: 15px;
        font-weight: 600;
        margin-right: 25px;
        padding-left: 20px;
        transition: color 0.3s ease;
        font-family: 'Rubik', sans-serif;
      }
      .navbar .menu .date li a i{
        color: black;
      position: relative;
      right:38px;
      font-size: 18px;
      }
      .navbar .menu .oth li a {
        display: flex;
        flex-direction: column;
        position: relative;
        left:297px;
        bottom: 20px;
        font-weight: 700;
        transition: color 0.3s ease;
        font-family: 'Rubik', sans-serif;
      }
      .navbar .menu .oth li a i{
        color: black;
        display: flex;
        font-size: 15px;
        margin: 1px;
        font-weight: 800;
        justify-content: space-between;
      }
    
      .navbar .menu li a:hover,
      .navbar .logo a:hover {
        color:#029dd1;
      }
      .menu-btn {
        color: #fff;
        font-size: 23px;
        cursor: pointer;
        display: none;
      }
      .click{
        width: 38px;
        height: 38px;
        position: relative;
        top: 60px;
        left: 30px; 
        transition: all 0.5s ease;
      }
      .big h4{
    width: 207px;;
    height: 30px;
    top: 25px;
    left: 120px;
    font-weight: 600;
    font-size: 20px;
    position: relative;
    line-height: 30.33px;
    font-family: 'Open Sans', sans-serif;
      }
      
      form{
        width:100%;
        max-width: 400px;
        position:fixed;
        top: 280px;
        left: 20px;
      }
      .input-group{
        margin-bottom: 30px;
        position: relative;
      }
      input{
        width: 90%;
        padding: 15px;
        outline: 0;
        border: 1px solid rgba(85, 85, 85, 0.5);
        border-radius:5px;
        background: rgba(130, 130, 130, 0.11);
        font-family: 'Open Sans', sans-serif;
        font-size: 15px;
      }
      label{
        height: 100%;
        position: absolute;
        left: 19px;
        top: 5px;
        padding: 10px;
        color: black;
        cursor: text;
        font-size: 14px;
        color: rgba(85, 85, 85, 0.5);
        font-family: 'Open Sans', sans-serif;
        font-weight: 300;
        transition: 0.2s;
      }
      input:focus~label,
      input:valid~label{
        top: -35px;
        font-size: 14px;
        font-weight: 600;
      }
      .row{
        display: flex;
        align-items: center;
        width: 105%;
      }
      .row span img{
        position: relative;
        left: 57px;
      }
      .row .input-group{
        flex-basis: 45%;
      }
      form .grow img{
        width: 20px;
        height: 20px;
        position: relative;
        margin-left:280px;
        bottom: 35px;
      }
      .middle a{
        display:block;
        text-align: center;
        background: rgba(204, 68, 56, 1);
        color:#fff;
        position: relative;
        top:430px;
        left: 28px;
        width: 303px;
        z-index:100;
        font-size: 16px;
        padding: 12px 20px;
        border-radius: 8px;
        margin-top: 15px;
        height: 47px;
        border: 1px solid rgba(204, 68, 56, 1);
        transition: all 0.3s ease;
        font-family: 'Open Sans', sans-serif;
      }
      .middle a:hover{
        background:transparent;
        color: rgba(204, 68, 56, 1) ;
      }
      firm{
        width:100px;
        max-width: 400px;
        position:fixed;
        top: 150px;
        left: 30px;
      }
      firm p{
font-family: 'Open Sans', sans-serif;   
font-size: 14px;
font-weight: 300;
line-height: 17px;
letter-spacing: 0px;
position: fixed;
top: 230px;
left: 130px;
text-align: left;
color: rgba(67, 67, 67, 0.3);

      }
      .inpit-group{
        margin-bottom: 30px;
        position: relative;
      }
      firm input{
        width: 134px;
        height: 58px;
        outline: 0;
        position: relative;
        left: 83px;
        top: 30px;
        font-family: 'Open Sans', sans-serif;
        font-size: 15px;
      }
      
      firm labeli{
        height: 100%;
        position: absolute;
        left: 94px;
        top: 30px;
        padding: 10px;
        cursor: text;
        font-size: 30px;
        color: rgba(0, 0, 0, 0.7);
        font-family: 'Open Sans', sans-serif;
        font-weight: 300;
        transition: 0.2s;
      }
      firm input:focus~label,
      firm input:valid~label{
        top: -35px;
        font-size: 14px;
        font-weight: 600;
      }
      .grm{
        position: fixed;
        top: 110px;
        left: 110px;
      }
      .grm p{
 font-family: 'Open Sans', sans-serif;
font-size: 14px;
font-weight: 300;
line-height: 17px;
letter-spacing: 0em;
text-align: center;
color: rgba(85, 85, 85, 1);
margin-left: 8px;
      }
      .grm p1{
font-family: 'Open Sans', sans-serif;
font-size: 30px;
font-weight: 400;
line-height: 26px;
letter-spacing: 0em;
text-align: center;
margin-left: 20px;
      }
      .recent{
position: fixed;
top: 440px;
left: 24px;
font-family: 'Open Sans', sans-serif;
font-size: 14px;
font-weight: 500;
line-height: 17px;
letter-spacing: 0px;
text-align: left;
color: rgba(0, 0, 0, 1);
      }
      .booradley img{
        position: relative;
        top: 400px;
        width: 110px;
        height: 110px;
        left: 120px;
    }
    .booradley h4{
        height: 19px;
        top:400px;
        position: relative;
        font-size: 16px;
        right: 5px;
        line-height: 19.2px;
        text-align: center;
        color: rgba(0, 0, 0, 1);
        font-family: 'Open Sans', sans-serif;
    }
    .booradley p{
        height: 19px;
        top:410px;
        position: relative;
        font-size: 14px;
        right: 5px;
        line-height: 16.8px;
        text-align: center;
        color: rgba(0, 0, 0, 0.6);
        font-family: 'Open Sans', sans-serif;
    }
    
    }